@model IEnumerable<Product.Data.Model.Category>
@{
    ViewBag.Title = "Ürünler Ana Sayfa";
}

<div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="3"></li>
    </ol>

    @{
        var Slide1 = Model.FirstOrDefault(x => x.CategoryName == "BİLGİSAYAR");
        var Slide2 = Model.FirstOrDefault(x => x.CategoryName == "OYUN");
        var Slide3 = Model.FirstOrDefault(x => x.CategoryName == "TELEFON");
        var Slide4 = Model.FirstOrDefault(x => x.CategoryName == "BEYAZ EŞYA");
        <div class="carousel-inner">
            <div class="carousel-item active">
                <a href="@Url.Action("Index", "Category", new { id = Slide1.CategoryId })">
                    <img src="~/Asssets/urunlu_fiyatli_banner_1584973507.jpg" class="d-block w-100" alt="...">
                </a>

                <div class="carousel-caption d-none d-md-block">
                    <h5>Kaçırılmayacak Notebook Fırsatı</h5>
                    <p>Dell Inspiron Teknolojisinin Son Ürünü</p>
                </div>
            </div>
            <div class="carousel-item">
                <a href="@Url.Action("Index", "Category", new { id = Slide2.CategoryId })">
                    <img src="~/Asssets/anasayfa_1588237895.jpg" class="d-block w-100" alt="...">
                </a>
                <div class="carousel-caption d-none d-md-block">
                    <h5>Second slide label</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
            </div>

            <div class="carousel-item">
                <a href="@Url.Action("Index", "Category", new { id = Slide3.CategoryId })">
                    <img src="~/Asssets/urunlu_fiyatveindirimoranli_banner_telefon_1588255173.jpg" class="d-block w-100" alt="...">
                </a>
                <div class="carousel-caption d-none d-md-block">
                    <h5>Third slide label</h5>
                    <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
                </div>
            </div>
            <div class="carousel-item">
                <a href="@Url.Action("Index", "Category", new { id = Slide4.CategoryId })">
                    <img src="~/Asssets/anasayfa_1588193655.jpg" class="d-block w-100" alt="...">
                </a>
                <div class="carousel-caption d-none d-md-block">
                    <h5>Third slide label</h5>
                    <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
                </div>
            </div>
        </div>
    }

    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>